#define W_ssid "ssid"
#define W_pwd "password"

const char rootCA[] PROGMEM = R"rawliteral(-----BEGIN CERTIFICATE-----
ROOTCA
-----END CERTIFICATE-----
)rawliteral";

const char pub_cert[] PROGMEM = R"rawliteral(-----BEGIN CERTIFICATE-----
pub_cert
-----END CERTIFICATE-----
)rawliteral";

const char pub_key[] PROGMEM = R"rawliteral(-----BEGIN PRIVATE KEY-----
pub_key
-----END PRIVATE KEY-----
)rawliteral";

const char sub_cert[] PROGMEM = R"rawliteral(-----BEGIN CERTIFICATE-----
sub_cert
-----END CERTIFICATE-----
)rawliteral";

const char sub_key[] PROGMEM = R"rawliteral(-----BEGIN PRIVATE KEY-----
sub_key
-----END PRIVATE KEY-----
)rawliteral";
